<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
	<contextName>demo</contextName>

	<appender name="APPLOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>@log.path@/${CONTEXT_NAME}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%contextName] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="@log.level@">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="APPLOGFILE" />
	</root>
</configuration>