<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dxc.application.mybatis.mapper.GimHeaderMapper">
	<select id="selectAllGimHeader" resultType="com.dxc.application.model.GimHeader">
		SELECT * FROM TB_M_GIM_H
	</select>
	<select id="selectGimHeaderByGimType" resultType="com.dxc.application.model.GimHeader" parameterType="com.dxc.application.model.GimHeader">
		SELECT * FROM TB_M_GIM_H WHERE GIM_TYPE= #{gimType}
	</select>
</mapper>